<div id="chat_<%= chat.id %>" class="chatbox b-only <%= 'done' if chat.done %>">
  <div class="chatbox-title">
    <%= link_to chat.title, user_application_chat_path(user_application, chat), class: "form_input" %>
  </div>

  <div class="chatbox-controls">
    <%= form_with model: [user_application, chat], url: user_application_chat_path(user_application, chat), method:
      :patch, data: { turbo: true } do |f| %>

      <%= f.check_box :done, onchange: "this.form.requestSubmit()" %>
        <% end %>
        <% if chat.done %>
          <%= link_to user_application_chat_path(user_application, chat), data: { turbo_method: :delete,
            turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
  </div>
</div>
