<div class="chat-main-container d-flex">


  <aside class="sidebar-container">
    <div class="username-container text-center">
      <%= link_to user_applications_path(user_id: current_user.id), class: "text-decoration-none" do %>
      <h3>
        <%= @chat.user_application.user.first_name %>
        <%= @chat.user_application.user.last_name %>
      </h3>
      <% end %>
      <p>
        Application:
        <strong><%= @chat.user_application.title %> </strong>
      </p>
    </div>


    <div class="new-chat-container">
      <%= simple_form_for [@user_application, @newchat],
                          data: { turbo_method: :post } do |f| %>
        <%= f.input :title,
                    placeholder: "New Chat",
                    label: false,
                    wrapper: false,
                    input_html: { class: "rounded-5" }
                    %>
        <%= f.button :submit, "+", class: "send_button" %>
      <% end %>
    </div>


    <div id="chatboxs-container" class="chatboxs-container" >
    <% @chats.each do |chat| %>
    <%= render "chat_row", chat: chat,
                         user_application: @user_application %>
  <% end %>
</div>


  </aside>


  <div class="message-details-container">
    <div class="row row-chat">
      <div class="top-container d-flex ">
       <h3 class="top-container-title text-center col-10"><%= @chat.title %></h3>
        <div class="top-container-button spare-container d-flex col-2 justify-content-evenly">
            <i class="fa-solid fa-thumbtack fa-2xl mt-4"></i>
            <i class="fa-solid fa-file fa-2xl mt-4"></i>
        </div>
      </div>
    </div>


    <div class="messages-container">
      <div id="messages">

    </div>
</div>

    <div class="message-upload-container">

    </div>


  </div>
</div>
